# Auto-detect text files and normalize their line endings to LF in the repo
* text=auto

# Force specific file types to always use LF
*.js     text eol=lf
*.jsx    text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.css    text eol=lf
*.html   text eol=lf
*.json   text eol=lf
*.md     text eol=lf
