
*,
*::before,
*::after {
  box-sizing: border-box;
} 


.Loginpage3{
    display: flex;
    height: 100vh;
    width: 100vw;  
    background-color:  #1c1b2e;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

.Loginleft3{
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1c1b2e, #1c1b2e);
}

.Loginleft3 img{
    width: 80%;
    max-width: 500px;
   
}

.logocontainer3{
    display: flex;
    justify-content: end;
   position: relative;
    bottom: 45px; 
}

.PR{
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: -5px;
}
.centerline3{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 5px;
  color: white;
}

.enter{
  margin-top: -15px;
}


.loginRight3 {
    flex: 0 0 60%;
    min-width: 0;
    padding: 40px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px; 
}
  
  .loginRight3 img {
    width: 150px;
    margin-bottom: 20px;
  }

  .loginBtnContainer3 {
    width: 100%;
    text-align: center;
    margin-top: 45px;
  }


  #email-address3{
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    margin: 5px 0 10px 0;
    background-color: #1c1b2e;
    color: white;
  }

  #email-address3:focus{
    border: 1px solid #2563eb;
    background-color: #1c1b2e;
  }

 
.inputGroup3{
    position: relative;
    margin-bottom: 5px;
  }

   .inputGroup3 input {
    width: 100%;
    padding: 12px;
    padding-right: 100px;          
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #1c1b2e;
    color: white;
    font-size: 14px;
  }  
  
 

 

  .loginForm3 input[type="text"]:focus,
  .loginForm3 input[type="password"]:focus{
    border: 1px solid #2563eb;
    background-color: #1c1b2e;
  }


   .loginForm3 .button{
    width: 40%; 
    margin-top: -10px;
    background-color: #4074e4;
    color: white;
    padding: 12px 55px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
  }

  .loginForm3 .button:hover{
    background-color: #2563eb;
  } 

   /* Responsive design  */

  @media (max-width: 992px) {
    .logocontainer3{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 40px;
      position: relative;
      bottom: 0px; 
    }

    .centerline3{
      align-items: center;
    }

    
    .Loginpage3{
      flex-direction: column;
      height: auto;
      min-height: 100vh;
      overflow: auto;
      margin: 0;
      padding: 0;
    }

    .Loginleft3{
      display: none;
    }

    .loginRight3 {
      width: 100%;
      padding: 20px;
      max-width: none;
      box-sizing: border-box;
    }

    .loginForm3{
      margin-top: 20px;
    }

    .loginForm3 input[type="text"],
  .loginForm3 input[type="password"]{
    box-sizing: border-box;
  }

  .loginForm3 input[type="password"]{
    margin: 10px 0 20px 0;
  }


    .loginForm3 button{
      width: 50%;
      margin-top: 5px;
    }

  }
 

  @media (min-width: 1920px) { 
    .Loginpage3 {
      min-width: 1500px; 
    } 
    .Loginleft3 {
      flex: 0.5; 
    }
  
    .loginRight3 {
      flex: 1; 
      max-width: 1000px;
    }
  
    .Loginleft3 img {
      max-width: 1000px;
    }
  
  }